# Local tools
tools/

# Runtime files
root/*
!root/sys161.conf
!root/.gdbinit

# Build artifacts
src/build/
src/userland/testbin/**/build
src/defs.mk
src/kern/compile/*/
*.o
*.d
*.a

# Python cache
__pycache__/
*.pyc